/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

.outline {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
}

.output {
     background: black;
     height: 5%;
}

.row1,
.row2,
.row3,
.row4 {
     display: flex;
}

.button {
     height: 20px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
